<div class="jumbotron">
  <h1 class="display-4">Zetwerk Bootstrap Starter</h1>
  <p class="lead">
    This is a simple starter template for building a bootstrap theme
  </p>
  <hr class="my-3" />
  <div class="row">
    <div class="col col-3">
      <a routerLink="/buttons">Buttons</a>
    </div>
    <div class="col col-3">
      <a routerLink="/buttons">Buttons</a>
    </div>
    <div class="col col-3">
      <a routerLink="/buttons">Buttons</a>
    </div>
  </div>
</div>

<div class="container-fluid">
<router-outlet></router-outlet>
</div>
